.SteamingSignItem {
    background-color: #DDDDDD;
    padding: 40px 60px;
    width: 70px;
    border-radius: 10px;
}

.Streaming {
    background-color: #E3F3DA;
}

.SteamingSignItem img {
    width: 70px;
}

.SteamingSignItem p {
    margin: 46px auto 0px auto;
    color: #52554F;
    font-weight: bold;
}