.SteamingSignItem {
    background-color: #E3F3DA;
    padding: 40px 60px;
    width: 70px;
    border-radius: 10px;
}

.SteamingSignItem img {
    width: 70px;
}

.SteamingSignItem p {
    margin: 46px auto 0px auto;
}